.main{
  height: 1000px;
}

.about{
    text-align: center;
 
    padding-top: 20px;
    background: #1A103D;
    border-radius: 10px;
    width: 56%;
    height: 560px;
 margin-left: 40%;
margin-top: -500px;
  color: #B6B2C4;
    font-family: Arial, sans-serif;
    line-height: 30px;
}

.intro{
  padding: 20px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 35px;
}
.profileImg img{
  height: 300px;
  width: 180px;
  align-items: center;
  border:4px solid #D26FB4 ;
}
.aboutme h2{
color: #D26FB4;
font-family: "Poppins", serif;
font-weight: 400;
font-style: normal;
margin-bottom: 7px;
}

.aboutme p{
 
  font-size: 14px;
text-align: start;
font-family: "Poppins", serif;
font-weight: 200;
font-style: normal;

}
.aboutme span{

 text-align: start;
  font-size: 16px;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}



@media (max-width: 400px) {

 
  .main{
margin-top: -30px;
margin-left: -40px;
   display: block;
   width: auto;

  }
  .card{
 
    display: block;
  width: 1290px;
  padding: 10px;
  }
  .about{
    display: block;
 margin-top: 100px;

 width: auto;
 height: auto;
 margin-left: 40px;
  }
  .intro{
    margin-top: 110px;
   display: block;
  }
  .profileImg{
    margin-bottom: 20px;
  }
  .aboutme h2{
    color: #D26FB4;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 10px;
    }
   
    .aboutme p{
      text-align: center;
    }
    }
    /* @media (min-width: 1440px) and (max-width: 1920px) {
      .main{
        margin-top: 330px;
       
      }
  
      .about{
        margin-top: -1250px;
        width: 1100px;
        height:  1140px;
      
      }
      .intro{
        margin-top: 110px;
      }
      .profileImg img{
        margin-top: 140px;
        height: 500px;
        width: 380px;
        align-items: center;
        border:6px solid #D26FB4 ;
      }
      .aboutme h2{
        margin-top: 20px;
    font-size: 38px;
    margin-bottom: 10px;
      }
      .aboutme span{
        margin-bottom: 10px;
    font-size: 28px;
      }
      .about p{
        margin-top: 20px;
        font-size: 35px;
      
      }
    } */
    @media (min-width: 1920px) and (max-width: 2560px) {
  .main{
    margin-top: 10px;
    margin-bottom: 20px;

  }
  /* .card{
    display: block;
    width: 2290px;
   height:  1290px;

  } */
  .about{
    margin-top: -1250px;
    width: 1100px;
    height:  1140px;
  
  }
  .intro{
    margin-top: 40px;
  }
  .profileImg img{
    margin-top: 170px;
    height: 500px;
    width: 380px;
    align-items: center;
    border:6px solid #D26FB4 ;
  }
  .aboutme h2{
    margin-top: 20px;
font-size: 40px;
margin-bottom: 30px;
  }
  .aboutme span{
    margin-bottom: 30px;
font-size: 27px;
  }
  .about p{
    margin-top: 20px;
    font-size: 32px;
    line-height: 35px;
  }
}