*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  background-color: #130B30;
  width: auto;
height: auto;
padding: 20px;
}




@media (max-width: 480px) {
  .App {
    width:auto;
    height:auto; 
    padding: 15px;
  }
}

